body{
	background:#FCC top left;
	font-family:Verdana, Geneva, sans-serif;
	margin:30px;
}
table{
	border:thin dotted #6666CC;
	padding:20px;
	
}
th{
	text-align:right;
	vertical-align:top;
	padding-right:10px;
	padding-top:3px;
}
td{
	vertical-align:top;
	padding-bottom:20px;
}
table table{
	border:none;
	padding:0px;
	
}
table table td{
	text-align:right;
	padding-bottom:0px;
}
